<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <div class="cards">
          <%# data.projects.each do |project| %>
            <div class="card-product">
              <%= image_tag data.projects.first.image, alt: "project image" %>
              <div class="card-product-infos w-360">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= data.projects.first.name %></h2>
                  <% link_to data.projects.first.url, class: 'external-link', target: '_blank' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
                <p><%= data.projects.first.description %></p>
              </div>
            </div>
            <%# end %>
            <div class="card-product">
              <div class="card-product-infos w-360">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= data.projects.last.name %></h2>
                  <% link_to data.projects.last.url, class: 'external-link', target: '_blank' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
                <p><%= data.projects.last.description %></p>
              </div>
              <%= image_tag data.projects.last.image, alt: "project image" %>
            </div>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
