  <%= partial 'partials/navbar' %>
<div class="container ">
  <!-- Banner Section -->
  <!-- Social Links Section -->
  <%= partial 'partials/banner' %>
  <%= partial 'partials/social' %>
  <%= partial 'partials/projects' %>
  <!-- About Section -->
  <%# <%= partial 'partials/about' %>
  <!-- Projects Section -->
</div>
